$zIndexMax: 1001;

.z-logo {
  z-index: 90;
}

.z-sidebar {
  z-index: 999;
}

.z-sidebar-backdrop {
  z-index: 998;
}

.z-control-panel {
  z-index: 1000;
}

.z-control-panel-content {
  z-index: 1001;
}

.z-port-dropdown {
  z-index: $zIndexMax - 3;
}

.z-iframe-overlay {
  z-index: $zIndexMax - 4;
}

.z-prompt {
  z-index: 2;
}

.z-workbench {
  z-index: 3;
}

.z-file-tree-breadcrumb {
  z-index: $zIndexMax - 1;
}

.z-max {
  z-index: $zIndexMax;
}
