ALTER TABLE user_connections DROP CONSTRAINT IF EXISTS user_connections_provider_check; ALTER TABLE user_connections ADD CONSTRAINT user_connections_provider_check CHECK (provider IN ('github', 'netlify', 'supabase', 'spotify'));
