.Toastify__toast {
  --at-apply: shadow-md;

  background-color: var(--bolt-elements-bg-depth-3) !important;
  color: var(--bolt-elements-textPrimary);
  border: 1px solid var(--bolt-elements-borderColor);
  border-radius: 8px;
}

.Toastify__toast-container--bottom-right {
  bottom: 2rem !important; /* Move notifications up by 2rem (32px) from the bottom */
}

.Toastify__close-button {
  color: var(--bolt-elements-item-contentDefault);
  opacity: 1;
  transition: none;

  &:hover {
    color: var(--bolt-elements-item-contentActive);
  }
}

/* Light theme overrides */
:root[data-theme='light'] .Toastify__toast {
  background-color: var(--bolt-elements-bg-depth-1) !important;
  color: var(--bolt-elements-textPrimary);
  border: 1px solid var(--bolt-elements-borderColor);
}
